# Node.js
node_modules/

# npm
*.log
*.lock
npm-debug.log*

# Yarn
yarn-error.log
yarn.lock

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Editor
*~
*.swp
*.swo

# Sublime Text
*.sublime-project
*.sublime-workspace
